body {
    background-color: #2f303a;
}
h4 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
input {
    background-color: #2f303a;
    flex: auto;
}
.button {
    background-color: #2197f2;
    color: white;
}